@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
img
{
  display: block;
}
a
{
  color: inherit;
}
/* |||||||||| INIZIO |||||||||| */
body
{

  /* COLORE DI SFONDO TEMPORANEO */
  /* background-color: rgb(199, 199, 199); */
  /* COLORE DI SFONDO TEMPORANEO */


  background-color: #141922;
  
  height: 100vh;
  color: white;
}





/* |||||||||| HEADER |||||||||| */


/* |||||||||| HEADER |||||||||| */
.header
{
  top: 0;
  left: 0;
  right: 0;
}


/* |||||||||| NAV |||||||||| */



/* |||||||||| MAIN |||||||||| */
.main
{
  padding: 90px 0 0 80px;
  overflow-y: scroll;
  margin-bottom: 100px;
}

.main > .main-sezione-1
{
  margin-bottom: 20px;
}

.main-sezione-1 > a
{
  margin: 10px 5px;
}



.carte > div > img
{
  width: 100%;
}

.carte > div
{
  width: calc(100% / 2 - 30px);
  margin: 10px 10px 0 0;
}

.carte p
{
  font-size: 0.6rem;
  color: rgb(131, 131, 131);
}

.carte > div > *:not(img)
{
  margin: 5px 0;
}

/* |||||||||| FOOTER |||||||||| */



/* |||||||||| AREA TEST |||||||||| */


.contenitore-top-left
{
  padding: 5px 10px;
  background-color: black;
  z-index: 1;
  position: fixed;
  width: 50px;
  /* width: 15%; */
  height: 90%;
}

.contenitore-bottom
{
  padding: 10px;
  background-color: #282828;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.contenitore-bottom > div > div
{
  margin: 0 5px;
}

.contenitore-bottom > div > div > span
{
  margin: 0 0 2px 0;
}

.brano-riproduzione
{
  width: 25px;
  aspect-ratio: 1/1;
}

.brano-riproduzione img
{
  width: 100%;
}

.brano-riproduzione-icone > span
{
  display: block;
}

.contenitore-bottom-center > div > i
{
  margin: 0 2px;
}

.contenitore-bottom-center > div:last-child
{
  margin: 5px 0;
}

.barra-canzone
{
  width: 50%;
  height: 4px;
  background-color: grey;
  vertical-align: middle;
  border-radius: 6px;
}

.barra-canzone > div
{
  background-color: white;
  width: 20%;
  height: 100%;
  border-radius: 4px;
}

.canzone-riproduzione > *
{
  margin: 0 2px;
}






.contenitore-top-left > div > img
{
  width: 100%;
}

.contenitore-top-left > div > *:not(.contenitore-top-left > div > img, .btn-utente)
{
  margin: 15px 0;
}

.header
{
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 5px;
}

.btn
{
  border: 1px solid white;
  border-radius: 100vmax;
  display: inline-block;
  padding: 10px 15px;
}

.btn-utente
{
  padding: 2px 4px;
  margin-bottom: 2px;
}
/* |||||||||| AREA TEST |||||||||| */





































/* Fine */